.react-calendar {
    border: none;
    border-radius: 10px;
    border: 1px solid #f4f6f8;
    background: #fff;
    box-shadow: 10px 10px 32px 0px rgba(22, 22, 22, 0.04);
    height: 236px;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}